/*estilo para el body*/

body{
    font-size: 'Courier New', Courier, monospace;
    background-color: #ff0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23E0F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0025'/%3E%3Cstop offset='1' stop-color='%23da00f2'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff003d'/%3E%3Cstop offset='1' stop-color='%23c700e5'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0052'/%3E%3Cstop offset='1' stop-color='%23b400d8'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0067'/%3E%3Cstop offset='1' stop-color='%23a000cc'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff007c'/%3E%3Cstop offset='1' stop-color='%238d00bf'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0091'/%3E%3Cstop offset='1' stop-color='%237a00b3'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00a7'/%3E%3Cstop offset='1' stop-color='%236700a6'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23fe00bc'/%3E%3Cstop offset='1' stop-color='%2354009a'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23fa00d2'/%3E%3Cstop offset='1' stop-color='%233f008e'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23f500e8'/%3E%3Cstop offset='1' stop-color='%23280083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23E0F'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
  }
  
  img{
    width: 100%;
    border: solid red;
  }
  
  /* Estilos para el encabezado */
  header {
      background-color: #540e0e;
      padding: 20px;
      text-align: center; 
  }
  
  /* Estilos para el título */
  header h1 {
      margin: 0; 
      font-size: 24px;
  }
  
  /* Estilos para la imagen del header */
  header img {
      max-width: 100px; 
      height: auto; 
      margin-top: 10px; 
  }
  
  
  /* Estilos para nav*/
  nav {
    background-color: #333;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  
  /* Estilos para nav ul*/
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Estilos para nav ul li */
  nav ul li {
    display: inline-block;
    margin-right: 15px;
  }
  
  /* Estilos para nav ul li a*/
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }
  
  
  
  /*estilo para formulario de contacto*/
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    cursor: pointer;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  small {
    color: #777;
  }
  
  /*estilos  para el footer*/
  
  footer{
    background-color: blue;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  
  
  /* Media query para pantallas pequeñas (hasta 767px) */
  @media screen and (min-width: 768px) {
    .body {
      background-color: #ff0000;
    }
  
  
    header {
      font-size: 18px;
    }
  
    main {
      padding: 10px;
    }
  
    footer {
      background-color: blue;
    }
  }
  
  /* Media query para pantallas medianas (768px - 991px) */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
      background-color: #ff0000;
    }
  
    header {
      font-size: 22px;
    }
  
    main {
      padding: 0px;
    }
  
    footer {
      font-size: 16px;
    }
  }
  
  /* Media query para pantallas grandes (992px en adelante) */
  @media screen and (min-width: 1200px) {
    body {
      background-color: #ff0000;
    }
  
    header {
      font-size: 28px;
    }
  
    main {
      padding: 40px;
    }
  
    footer {
      font-size: 18px;
    }
  }